
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
<div>
	<p>name: {{painting[0]}}</p><p>date: {{painting[1]}}</p>
	<p>medium: {{painting[2]}}</p>
	<p>painting_id: {{painting[3]}}</p>
	<p>price: {{painting[4]}}</p>
	<p>status: {{painting[5]}}</p>
	<p>gallery:<div>
		{%if gallery == []%}
		<p>Unknown</p>
		{%else%}
		<div>{{gallery[0]}}</div>
		{%endif%}
	</div></p>
		<p>artist:<div>
		{%if artist == []%}
		<p>Unknown</p>
		{%else%}
		<div>{{artist[0]}}</div>
		{%endif%}
	</div></p>
</div>

<p><a href="/painting_order">Buy</a></p>

</body>

<p><a href="/">Go back to the home page</a></p>


</html>
